<header class="encabezado-panel">
  <div class="seccion-info">
    <button class="btn-toggle-sidebar" (click)="toggleSidebarEvent()" aria-label="Abrir menú">
      <svg lucideMenu class="icono-burger"></svg>
    </button>
    <span class="tag-especial" [ngClass]="rolClase">
      {{ rolTexto }}
    </span>
  </div>

  <div class="usuario-perfil-contenedor">
    <div class="nombre-usuario">
      {{ user?.nombre }} {{ user?.apellido }}
    </div>
    
    <div class="avatar-usuario" (click)="alternarMenu()">
      <span>{{ initial }}</span>
      <div class="menu-usuario" [class.visible]="menuVisible">
        <a class="opcion-menu" (click)="goToProfile()">Mi Perfil</a>
        <a class="cerrar-sesion" (click)="logout()">Cerrar sesión</a>
      </div>
    </div>
  </div>
</header>
