<section class="seccion-bienvenida">
  <h1>Tu Suscripción Activa</h1>
  <p>Gestiona tu plan y beneficios.</p>
</section>

<section class="seccion">
  <h2 class="titulo-seccion">Detalles de la Membresía</h2>
  <div class="grid-metricas">
    <article class="tarjeta-metrica">
      <p class="metrica-titulo">Plan Actual</p>
      <p class="metrica-valor">
        {{ nombrePlan }}
      </p>
      <p class="metrica-cambio-suave">
        <span *ngIf="tieneFechaFin">{{ detalleSuscripcion }}{{ fechaFin | date:'dd MMM yyyy' }}</span>
        <span *ngIf="!tieneFechaFin">{{ detalleSuscripcion }}</span>
      </p>
    </article>
  </div>
</section>
