<section class="seccion-bienvenida">
  <h1>Tu Suscripción Activa</h1>
  <p>Gestiona tu plan y beneficios.</p>
</section>

<section class="seccion">
  <h2 class="titulo-seccion">Detalles de la Membresía</h2>
  <div class="tarjeta">
    <p class="tarjeta-titulo">Plan Actual</p>
    <p class="tarjeta-valor tarjeta-valor--acento">
      {{ nombrePlan }}
    </p>
    <p class="tarjeta-etiqueta">
      <span *ngIf="tieneFechaFin">{{ detalleSuscripcion }}{{ fechaFin | date:'dd MMM yyyy' }}</span>
      <span *ngIf="!tieneFechaFin">{{ detalleSuscripcion }}</span>
    </p>
  </div>
</section>
